<%- include("./header") %> 

<div class="col-sm-10"></div>
    <h1><%= title %></h1>
    <% if (locals.currentUser) { %>
        <a href="/create-message">Create Message</a>
    <% } %>
</div>

<%- include("./footer") %>