<%- include("./header") %> 

<div class="col-sm-10"></div>
    <h1><%= title %></h1>

    <form action="" method="POST">
        <div class="form-group">
            <label for="secret_code">Secret Code</label>
            <input class=form-control name="secret_code" type="text">
        </div>
        
        <button class='btn btn-primary' type='submit'>Join</button>
    </form>

    <% if (locals.errors) { %> 
        <ul>
            <% for( let i = 0; i < errors.length; i++ ) { %>
                <li><%- errors[i].msg %> </li>
            <% } %> 
        </ul>
    <% } %>
</div>

<%- include("./footer") %>